In [ ]:
x=input('enter a number')

enter a number12

In [28]:
y=input('enter a number')

enter a number12

In [ ]:
x+y

'1212'

In [ ]:
int(x)-int(y)

0

In [ ]:
int(x)/int(y)

1.0

In [ ]:
int(x)*int(y)

144

In [ ]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))

enter the first number12
enter the second number44

In [ ]:
P=int(input("enter a number"))
I=int(input("enter a number"))
N=int(input("enter a number"))
I=P*I*N
print(I)

enter a number123
enter a number1222
enter a number22
3306732

In [ ]:
X=int(input('ENTER A MARK'))

ENTER A MARK3444

In [ ]:
if X>50:
  print("you are pass")
if X<50:
  print('you are failed')

you are pass

In [ ]:
salary=int(input("enter salary"))

enter salary245000

In [ ]:
if salary>=250000:
  print("you are taxable")
if salary<=250000:
  print("you are not taxable")

you are not taxable